[mysqld]
server-id=2 # Must be different from master
log-bin=mysql-slave-bin # Optional: if this slave can also be a master to another slave
relay-log=mysql-slave-relay-bin
read-only=1 # Makes the slave read-only to prevent direct writes
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON
binlog_format=ROW
